*.pyc
*~
local_settings.py
.DS_Store

# ignore buildout's workspace stuff:
.installed.cfg
bin/
develop-eggs/
eggs/
parts/

# ignore static files (for now):
refinition/static/

# ignore uploaded files
refinition/media/uploads

# ignore cache files
refinition/tmp

# ignore sql data dump:
sample_data.json